{% extends 'layout.html' %}
{% set page_title = _('Search') %}
{% block html_head %}
{{- super() }}
<link rel="alternate" href="{{ url_for('kb.overview_feed', order_by=order_by)
  }}" type="application/atom+xml">
{%- endblock %}
{% block body %}
  <h1>{{ page_title }}</h1>
  <div class="explanation">
    <p>{% trans -%}
    Search results for <em>{{ query }}</em>
    {%- endtrans %}
  </div>
  {% for r in res %}
    <div class="searchresult">
    <strong><a href="{{ url_for('kb.topic', id=r.topicid) }}">{{ r.title }}</a></strong>
    <div class="resultsmeta">
      <p>Last Updated: {{ r.date_updated.strftime("%d %B %Y, %H:%m") }}
      {% for t in r.tags %}
        <a class="tag" href="{{ url_for("kb.by_tag", name=t) }}">{{ t }}</a>
      {% endfor %}
    </div>
    <p>{{ r.content |striptags|truncate(length=200) }}</p>
    <p class="searchlink">{{ request.base_url }}{{ url_for('kb.topic', id=r.topicid) }}</p>
    </div>
  {% endfor %} 
  {% if pagecount >1 %}
  <div class="pagination">
    <ul>
    {% for p in range(pagecount) %}
	{% if page == p+1 %}
	  <li>{{ p+1 }}</li>
	{% else %}
	  <li><a href="{{ url_for("search", search=query, page=p+1) }}">{{ p+1 }}</a></li>
	{% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}

